<html>
<head>
    <style>
        #heatmapArea {
            position:relative;
            float:left;
            width:800px;
            height:600px;
            border:1px dashed black;
        }
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/heatmap.js"></script>
    <script type="text/javascript" src="/js/heatmap-gmaps.js"></script>
</head>
<body>
<div id="heatmapArea"></div>
<button id="getData">Get Location Heatmap</button>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
