<html>
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-datepicker/datepicker.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap-modal/css/bootstrap-modal.css"/>
<!--    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>-->
    <script type="text/javascript" src="/vendor/jquery/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="/vendor/geometa/geometa.js"></script>
    <script type="text/javascript" src="/vendor/heatmapjs/heatmap.js"></script>
    <script type="text/javascript" src="/vendor/heatmapjs/heatmap-gmaps.js"></script>
    <script type="text/javascript" src="/vendor/datejs/date.js"></script>
</head>
<body>
<div id="heatmap"></div>
<div id="optionsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-body">
        <input type="text" href="#" id="oldestDate" class="datePicker"/>
        to 
        <input type="text" id="newestDate" class="datePicker"/>
        <button type="button" id="getData" class="btn">go</button>
    </div>
</div>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
