body {
    background-color: "#14393D";
    font-family: "Lato", "sans-serif";
}

#heatmap {
    width: 100%;
    height: 100%;
}


#toLabel {
    margin-right: 4px;
    margin-left: 4px;
}

#options {
    margin-left: 24px;
    text-align: center;
}

#oldestDate {
    margin-right: 4px;
}

#newestDate {
    margin-left: 4px;
}
