body {
    background-color: "#14393D";
    font-family: "Lato", "sans-serif";
}

#heatmap {
    width: 100%;
    height: 100%;
}


#toLabel {
    margin-right: 4px;
    margin-left: 4px;
}

#optionsModal {
    padding: 32px;
}

#options {
    margin-left: 24px;
    text-align: center;
}

#oldestDate {
    margin-right: 4px;
}

#newestDate {
    margin-left: 4px;
}

#datepickers {
    display: none;
}

#go {
    display: none;
}

#spinner {
    height: 72px;
    width: 72px;
    margin: auto;
}

#statusbar {
    padding-top: 8px;
    display: none;
    background-color: #14393D;
    color: #BAC3E8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 96px;
}

.transparent {
    opacity: 0.6;
    filter:alpha(opacity=60);
}

.opaque {
    opacity: .85;
    filter:alpha(opacity=85);
}

#message {
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
    display: none;
}
